<div class="goods-list-wrapper">

  <ng-container
    *ngrxLet="{
      goods: goods$,
      status: status$
    } as vm"
  >
    <app-goods-list-view
      [vm]="vm"
      (edit)="onOpenEditProduct($event)"
      (delete)="onDelete($event)"
    ></app-goods-list-view>

    <button
      type="button"
      class="btn btn-outline-dark add-btn"
      (click)="onOpenAddProduct()"
    >
      add
    </button>
  </ng-container>

  <ng-container *ngIf="modalOpened">
    <div
      class="modal"
      id="editorModal"
      tabindex="-1"
      role="dialog"
      style="display: block"
    >
      <app-goods-editor-container
        [productIdOnEdit]="productIdOnEdit"
        (editProduct)="onEditProduct($event)"
        (addProduct)="onAddProduct($event)"
        (closeEditorForm)="onCloseEditorForm()"
      ></app-goods-editor-container>
    </div>
    <div class="modal-backdrop fade show"></div>
  </ng-container>

</div>
